/*core theme configuration*/
/* Color Theme Swatches in Hex */
.site-style-1-hex { color: #F4F1DE; }
.site-style-2-hex { color: #AFA9D9; }
.site-style-3-hex { color: #8082A6; }
.site-style-4-hex { color: #282E40; }
.site-style-5-hex { color: #F2A172; }
font-family: 'Garamond', serif;

/* global style*/
body {
  background-color: #AFA9D9;
}

h1 {
    background-color: #F4F1DE;
    color: #282E40;
    text-align: center
}

p {
  font-family: verdana;
  font-size: 20px;
}
h1 {
    background-color:#F4F1DE;padding:10px;max-width: 1000px
}
h2 {
    background-color:#F4F1DE;padding:10px;max-width: 1000px
}
section {
    background-color:#F4F1DE;padding:10px;max-width: 1000px;
    border:1px solid black;text-align: justify
}
footer {
    background-color:#F4F1DE;padding:10px;border:1px solid black;text-align: center
}
/* main content container*/
/* index page */
index.statement{
    background-color:#B0B8D8;padding:10px;border:1px solid black
}
index.link{
    background-color:#F4F1DE;padding:10px;border:1px solid black
}